<h3>Dados do pagamento</h3>
<% transaction = payment.creditcard_transaction %>

<p>Quantia: <%= transaction.try(:amount) %></p>
<p>Id Transação: <%= transaction.try(:transaction_id) %></p>
<p>Mensagem: <%= transaction.try(:message) %></p>
<p>Número: <%= transaction.try(:number) %></p>
<p>Código de retorno: <%= transaction.try(:return_code) %></p>
<p>Status: <%= transaction.try(:status) %></p>

<h3>Forma de pagamento</h3>

<p>Cartão: <%= payment.source.payment_method %></p>
<p>Parcelas: <%= payment.source.number_payments %></p>
